@model miniQuizlet.ViewModel_DTO.UserFormBinding;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Login 12 - Bootstrap Brain Component -->
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                                <form class="mx-1 mx-md-4" asp-action="signup" method="post" asp-controller="account">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input type="text" asp-for="Fullname" id="form3Example1c" class="form-control" placeholder="Your Name" />
                                            
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-calendar fa-lg me-3  fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input type="text" asp-for="BirthDay" asp-format="{0:yyyy/MM/dd}" id="datepicker" class="form-control" placeholder="Your Birthday" />

                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input type="email" asp-for="Email" id="form3Example3c" class="form-control" placeholder="Your Email" />
                                          
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input type="password" asp-for="Password" id="password" class="form-control" placeholder="Password" />
                                          
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input type="password" asp-for="Repassword"  id="repassword" class="form-control" placeholder="Repeat your password" />
                                            <span id="exampleInputPassword1-error" class="error invalid-feedback">Repassword not match new password</span>
                                            <span id="exampleInputPassword1-success" class="error invalid-feedback" style="color:limegreen">Repassword match new password</span>
                                        </div>
                                    </div>
                                    <!--gender-->
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-venus-mars me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" value="true" name="gender" id="inlineRadio1">
                                                <label class="form-check-label" for="inlineRadio1">Male</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" value="false" name="gender" id="inlineRadio2">
                                                <label class="form-check-label" for="inlineRadio2">Female</label>
                                            </div>

                                        </div>
                                    </div>
                                    <!--gender-->

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <input asp-for="Agree" class="form-check-input me-2" type="checkbox" id="form2Example3c" />
                                        <label class="form-check-label" for="form2Example3">
                                            I agree all statements in <a href="#!">Terms of service</a>
                                        </label>
                                    </div>
                                  

                                   
                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg">Register</button>
                                    </div>
                                    <input type="hidden" id="genderPost" name="genderPost" value="" />
                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="~/images/draw1.png"
                                     class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
