<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/thankyou/style.css">
</head>
<body>
    <div class=content>
        <div class="wrapper-1">
          <div class="wrapper-2">
            <h1>Thank you !</h1>
            <p>Thanks for subscribing to our website.  </p>
            <p>Go to email to active your account  </p>
            
            
          </div>
          <div class="wrapper-2">
                <a href="http://localhost:5270/" class="go-home">Login</a>
            
            
          </div>
        </div>
    </div>
      
      
      
      <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
</body>
</html>